@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap');

/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6
{
  @apply font-serif
}

.row
{
  padding: 0 20px;
}

.menu a
{
  position: relative;
  transition: all 200s;
}

.menu .nuxt-link-active
{
  @apply text-secondary-color;
}

.menu .nuxt-link-active::after
{
  content: "";
  position: absolute;
  height: 2.5px;
  @apply bg-active-color;
  bottom: -22px;
  width: 100%;
  left: 0;
}
